<div id="nav-wrapper">
    <ul id="nav">
        <li><a href="#/dashboard"> <i class="fa fa-dashboard"><span class="icon-bg bg-danger"></span></i><span data-i18n="Dashboard">Dashboard</span> </a></li>
        <li>
            <a href="#/ui"><i class="fa fa-magic"><span class="icon-bg bg-orange"></span></i><span data-i18n="">UI Kit</span></a>
            <ul>
                <li><a href="#/ui/buttons"><i class="fa fa-caret-right"></i><span data-i18n="">Buttons</span></a></li>
                <li><a href="#/ui/typography"><i class="fa fa-caret-right"></i><span data-i18n="Typography">Typography</span></a></li>
                <li><a href="#/ui/widgets"><i class="fa fa-caret-right"></i><span data-i18n="">Widgets</span> <span class="badge badge-success">12</span></a></li>
                <li><a href="#/ui/grids"><i class="fa fa-caret-right"></i><span data-i18n="Grids">Grids</span></a></li>
                <li><a href="#/ui/icons"><i class="fa fa-caret-right"></i><span data-i18n="Icons">Icons</span></a></li>
                <li><a href="#/ui/components"><i class="fa fa-caret-right"></i><span data-i18n="Components">Components</span> <span class="badge badge-info">14</span></a></li>
                <li><a href="#/ui/timeline"><i class="fa fa-caret-right"></i><span data-i18n="">Timeline</span></a></li>
            </ul>
        </li>
       
    </ul>
</div>