#nav-wrapper
  ul#nav
    li
      a href=admin_clients_path
        i.fa.fa-dashboard
          span.icon-bg.bg-danger
        span Dashboard
    li
      a href=admin_sale_items_path
        i.fa.fa-barcode
          span.icon-bg.bg-orange
        span  Sale items
    li
      a href=admin_beacons_path
        i.fa.fa-rss
          span.icon-bg.bg-orange
        span  Beacons

    li
      a href=admin_shopping_list_items_path
        i.fa.fa-edit
          span.icon-bg.bg-orange
        span  Shopping list items

      ul
        li
          a href="#/ui/buttons" 
            i.fa.fa-caret-right
            span   Buttons
        li
          a href="#/ui/typography" 
            i.fa.fa-caret-right
            span  Typography
        li
          a href="#/ui/widgets" 
            i.fa.fa-caret-right
            span   Widgets
            span.badge.badge-success 12
        li
          a href="#/ui/grids" 
            i.fa.fa-caret-right
            span data-i18n="Grids"  Grids
        li
          a href="#/ui/icons" 
            i.fa.fa-caret-right
            span data-i18n="Icons"  Icons
        li
          a href="#/ui/components" 
            i.fa.fa-caret-right
            span data-i18n="Components"  Components
            span.badge.badge-info 14
        li
          a href="#/ui/timeline" 
            i.fa.fa-caret-right
            span data-i18n=""  Timeline
